<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
    <%= form.label :commenter, :class=> "form-label" %>
    <%= form.text_field :commenter, :class=> "form-control" %>
  </div>
  <div>
    <%= form.label :body, :class=> "form-label" %>
    <%= form.text_area :body, :class=> "form-control" %>
  </div>
  <div>
    <%= form.label :status, "Comment status", :class=> "form-label" %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', :class => 'form-select' %>
  </div>
  <br>
  <div>
    <%= form.submit :class=> "btn btn-secondary" %>
  </div>

<% end %>