<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title, :class=> "form-label" %>
    <%= form.text_field :title, :class => "form-control" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, :class=> "form-label" %>
    <%= form.text_area :body, :class => "form-control" %><br>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status, :class=> "form-label" %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', :class=> "form-select" %>
  </div>  

  <div class="mt-3">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
