
<div class="block">


<% if Current.user %>

    <p>Please, log out before proceeding to Sign Up.</p>

<% else %>
    
    <h3>Sign Up</h3>
    <p>Fill the form inputs to create a new user</p>

    <%= form_with model: @user, url: sign_up_path do |form| %>
        <%= form.text_field :email, placeholder: "E-mail", class: "my-1 form-control" %>
        <div class="row gx-2">
            <div class="col-6"><%= form.password_field :password, placeholder: "Password", class: "my-2 form-control" %></div>
            <div class="col-6"><%= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "my-2 form-control" %></div>
        </div>
        <%= form.submit "Create user", class: "btn btn-primary d-block w-100" %>

        <% if @user.errors.any?  %>
            <div class="alert alert-danger mt-3">
            <% @user.errors.full_messages.each do |messages| %>
                <div><%= messages %></div>
            <% end %>
            </div>
        <% end  %>

    <% end %>

<% end %>

</div>